In [7]:
import pandas as pd

data = {
    'OrderID': ['201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204', '205', '206', '201', '202', '203', '204'],
    'ProductPrice': [120.50, 250.00, 218.54, 310.75, 150.00, 477.82, 120.50, 250.00, 379.40, 310.75, 150.00, 319.40, 120.50, 250.00, 120.21, 310.75, None, 120.20, 120.50, 250.00, 76.14, 310.75, 150.00, 439.78, 120.50, 250.00, 320.50, None, 150.00, 368.63, 120.50, None, 39.26, 310.75, None, 486.46, 120.50, 250.00, 424.60, 310.75, 150.00, 145.55, 120.50, 250.00, 131.82, 310.82, 150.00, 132.53, None, 250.00, 186.91, 310.75, 150.00, 286.14, 120.50, 250.00, 244.38, 310.75, 150.00, 181.05, 120.50, 250.00, 325.33, None, 150.00, 112.77, 120.50, 250.00, 181.47, 310.75, None, 214.86, 120.50, 250.00, 255.23, 310.75, 150.00, 403.33, 120.50, 250.00, 139.85, 310.75, 150.00, 281.41,120.50, None, 316.59, 310.75, 150.00, 70.90, 120.50, 250.00, 323.40, 310.75, 150.00, 126.74, 120.50, 250.00, 79.27, 310.75],
    'Category': ['Electronics', 'Clothing', 'Clothing', 'Electronics', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Electronics', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Grocery', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Electronics', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Home Appliance', 'Electronics', None, 'Electronics', None, 'Clothing', 'Electronics', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Home Appliance', 'Electronics', 'Grocery', 'Electronics', 'Clothing', None, 'Home Appliance', None, 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Home Appliance', 'Electronics', 'Grocery', 'Electronics', 'Clothing', None, 'Grocery', None, 'Grocery', 'Electronics', None, None, 'Grocery', 'Electronics', 'Grocery', 'Electronics',  'Clothing', 'Clothing', 'Grocery', 'Electronics',  None, 'Electronics', 'Clothing', 'Clothing', 'Electronics', 'Electronics', 'Grocery', None, 'Clothing', None, 'Home Appliance', 'Electronics', 'Grocery', 'Electronics', 'Clothing', 'Clothing', 'Grocery', 'Electronics', 'Grocery', 'Electronics', 'Clothing', None, 'Grocery', None, 'Grocery', 'Electronics', 'Clothing', None, 'Electronics'],
    'Quantity': [2, 5, 5, 3, None, 3, 2, 4, 5, 3, 4, 3, 2, 3, 5, 3, 4 , None, 2, 3, 5, None, 4, 5, 2, 3, 5, 3, None, 1, 2, None, 5, 3, None, 2, 2, 3, 5, 3, 4, 1, 2, 2, 5, 3, None, 2, 2, 4, 5, 3, 4, 5, 2, 3, 5, 3, None, 1, 2, 4, 5, 3, 4, 5, 2, 4, None, 3, 4, 5, 2, 5, 5, 3, 4, 3, 2, 5, 5, 3, 4, 4, 2, 5, 5, 3, 4, 3, None, 3, 5, 3, 4, 4, 2, 2, 5, 3],
    'CustomerRating': [4.5, 3.8, 4.8, 4.0, 4.9, 3.5, 4.5, 3.8, None, 4.0, 4.9, 3.5, 4.5, 3.8, 3.0, 4.0, 4.9, 3.5, 4.5, 3.8, 2.2, 4.0, 4.9, 3.5, 4.5, 3.8, 2.1, 4.0, 4.9, 3.5, 4.5, 3.8, None, 4.0, 4.9, None, 4.5, 3.8, 3.4, 4.0, 4.9, 3.5, 4.5, 3.8, 3.0, 4.0, 4.9, 3.5, 4.5, 3.8, 1.2, 4.0, 4.9, 3.5, None, 3.8, 2.1, 4.0, 4.9, 3.5, None, 3.8, 4.6, 4.0, None, 3.5, 4.5, 3.8, 2.0, 4.0, None, 3.5, 4.5, None, 1.6, 4.0, 4.9, 3.5, 4.5, 3.8, 3.0, 4.0, 4.9, 3.5, 4.5, 3.8, 4.9, 4.0, None, 3.5, 4.5, 3.8, None, 4.0, 4.9, 3.5, None, 3.8, 3.7, 4.0]
}

df = pd.DataFrame(data)
print('Original Dataset: \n', df)

Original Dataset:
    OrderID  ProductPrice     Category  Quantity  CustomerRating
0      201        120.50  Electronics       2.0             4.5
1      202        250.00     Clothing       5.0             3.8
2      203        218.54     Clothing       5.0             4.8
3      204        310.75  Electronics       3.0             4.0
4      205        150.00  Electronics       NaN             4.9
..     ...           ...          ...       ...             ...
95     206        126.74      Grocery       4.0             3.5
96     201        120.50  Electronics       2.0             NaN
97     202        250.00     Clothing       2.0             3.8
98     203         79.27         None       5.0             3.7
99     204        310.75  Electronics       3.0             4.0

[100 rows x 5 columns]

In [15]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy = 'most_frequent')
df[['ProductPrice']] = imputer.fit_transform(df[['ProductPrice']])
df[['Category']] = imputer.fit_transform(df[['Category']])
df[['Quantity']] = imputer.fit_transform(df[['Quantity']])
df[['CustomerRating']] = imputer.fit_transform(df[['CustomerRating']])
df

   OrderID  ProductPrice     Category  Quantity  CustomerRating
0      201        120.50  Electronics       2.0             4.5
1      202        250.00     Clothing       5.0             3.8
2      203        218.54     Clothing       5.0             4.8
3      204        310.75  Electronics       3.0             4.0
4      205        150.00  Electronics       3.0             4.9
..     ...           ...          ...       ...             ...
95     206        126.74      Grocery       4.0             3.5
96     201        120.50  Electronics       2.0             4.0
97     202        250.00     Clothing       2.0             3.8
98     203         79.27         None       5.0             3.7
99     204        310.75  Electronics       3.0             4.0

[100 rows x 5 columns]

In [17]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

scaler = MinMaxScaler()
df[['ProductPrice', 'Quantity', 'CustomerRating']] = scaler.fit_transform(df[['ProductPrice', 'Quantity', 'CustomerRating']])
df

   OrderID  ProductPrice     Category  Quantity  CustomerRating
0      201      0.181664  Electronics      0.25        0.891892
1      202      0.471243     Clothing      1.00        0.702703
2      203      0.400894     Clothing      1.00        0.972973
3      204      0.607089  Electronics      0.50        0.756757
4      205      0.247630  Electronics      0.50        1.000000
..     ...           ...          ...       ...             ...
95     206      0.195617      Grocery      0.75        0.621622
96     201      0.181664  Electronics      0.25        0.756757
97     202      0.471243     Clothing      0.25        0.702703
98     203      0.089468         None      1.00        0.675676
99     204      0.607089  Electronics      0.50        0.756757

[100 rows x 5 columns]

In [18]:
encoder = LabelEncoder()
df['Category'] = encoder.fit_transform(df['Category'])
df

   OrderID  ProductPrice  Category  Quantity  CustomerRating
0      201      0.181664         1      0.25        0.891892
1      202      0.471243         0      1.00        0.702703
2      203      0.400894         0      1.00        0.972973
3      204      0.607089         1      0.50        0.756757
4      205      0.247630         1      0.50        1.000000
..     ...           ...       ...       ...             ...
95     206      0.195617         2      0.75        0.621622
96     201      0.181664         1      0.25        0.756757
97     202      0.471243         0      0.25        0.702703
98     203      0.089468         4      1.00        0.675676
99     204      0.607089         1      0.50        0.756757

[100 rows x 5 columns]

In [19]:
print('Cleaned and Preprocessed Dataset: \n', df)

Cleaned and Preprocessed Dataset:
    OrderID  ProductPrice  Category  Quantity  CustomerRating
0      201      0.181664         1      0.25        0.891892
1      202      0.471243         0      1.00        0.702703
2      203      0.400894         0      1.00        0.972973
3      204      0.607089         1      0.50        0.756757
4      205      0.247630         1      0.50        1.000000
..     ...           ...       ...       ...             ...
95     206      0.195617         2      0.75        0.621622
96     201      0.181664         1      0.25        0.756757
97     202      0.471243         0      0.25        0.702703
98     203      0.089468         4      1.00        0.675676
99     204      0.607089         1      0.50        0.756757

[100 rows x 5 columns]