In [2]:
import pandas as pd
import numpy as np

x = pd.DataFrame(
    np.array([
        5, 7, 8,
        np.nan, np.nan, np.nan,
        -5, 0, 25,
        999, 1, -1,
        np.nan, 0, np.nan,
        -1, 0, 2,
        5, 4, 1,
        -1, 1, 0,
        6, 3, 2,
        np.nan, -2, np.nan
    ])\
    .reshape((10, 3))
)

x.columns = ['f1', 'f2', 'f3']
print(x)

      f1   f2    f3
0    5.0  7.0   8.0
1    NaN  NaN   NaN
2   -5.0  0.0  25.0
3  999.0  1.0  -1.0
4    NaN  0.0   NaN
5   -1.0  0.0   2.0
6    5.0  4.0   1.0
7   -1.0  1.0   0.0
8    6.0  3.0   2.0
9    NaN -2.0   NaN

In [3]:
x.shape

(10, 3)

In [5]:
x.dropna(axis = 0, thresh = 1, inplace = True)
x.reset_index(inplace = True)
x.drop(['index'], axis = 1, inplace = True)
print(x)

      f1   f2    f3
0    5.0  7.0   8.0
1   -5.0  0.0  25.0
2  999.0  1.0  -1.0
3    NaN  0.0   NaN
4   -1.0  0.0   2.0
5    5.0  4.0   1.0
6   -1.0  1.0   0.0
7    6.0  3.0   2.0
8    NaN -2.0   NaN

In [6]:
x.shape

(9, 3)

In [19]:
from sklearn.impute import MissingIndicator

x.replace({999 : np.nan}, inplace = True)
indicator = MissingIndicator(missing_values = np.nan)
indicator = indicator.fit_transform(x)
indicator = pd.DataFrame(indicator, columns = ['f1', 'f3'])
print(indicator)

      f1     f3
0  False  False
1  False  False
2   True  False
3   True   True
4  False  False
5  False  False
6  False  False
7  False  False
8   True   True